/*Utilizando provedor de fuentes https://fonts.google.com/ */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One',sans-serif;
    /*Tipo fuente más delgada es el numero menor menor el mas grueso es mayor le normal es 400 */
    font-weight: normal;
    /*Tipo de letra italica o cursiva*/
    /*font-style:italic ; */
}

/*Cambiando propiedad de alto de linea 0 es cero 1 es 100*/

h1 {
    /*Espacio entre lineas*/
    line-height: 1.5;

    /*Tamaño de fuente*/
    font-size: 40px;

    /*separacion entre letras*/
    letter-spacing: -.2px;
    color:aliceblue;

    /* Orden del margen como las manecillas del reloj   
    margin: top right bottom left*/

    margin: 100px 520x 70px 30px;


    /*Cambiar fuente a mayusculas
    text-transform: uppercase;*/

    /*Texto subrayado 
    text-decoration:underline;*/
}

h1 strong {
    color:#026fff;
    margin: 0%;
}


.hero{
    height: 300px;
    background-image: url('../imagenes/logo.png');
    background-color: #1b2127;
    background-size: 400px 150px;
    background-repeat: no-repeat;
    background-position-x: right;

}

.project-details {
    width: 500px;
    /*separacion margen iguales lados para un boton*/
    /*Si se coloca un auto centra de acuerdo al espacio disponible*/
    margin: 10px 20px;
}

.project_image_container{
    width: 500px;
}

.header {
    background-color: #1b2127;
    color:white;
}

.header a {
    color: white;
    text-decoration: none;
}

.project {
    /* tamaño tipo estilo 
    border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */

    /*El color del borde lo hereda del color que tenga el texto*/
   
    /*Afecta a un solo lado linea
    border-top-color: red ;
    border-top-width: 15px;
    border-top-style: solid;*/


    /*Redondea a solo una esquina
    border-top-left-radius: 50px;*/

    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    

}

.project-details {
    border:0% ;
}