
h1{
    font-size: 300%;
    text-align: center;
    color:rgb(67, 67, 224);
    letter-spacing :.1em;
}

.principal{
    background-color: brown;  
    width:100%;
    height: 100%;
}

#resultado{
    border-style:outset;
    border-radius: 2;
    width: 96%;
    height: 100%;
    font-size: 400%;
    background-color:azure;
    text-align:right ;
}

button{
    height:100%;
    width:24%;
    font-size: 400%;
    border-radius:10%;
}
.fila{
    width:auto;
    height: 100%;
}

body{
    width: auto;
    height: 100%; 
}

#operaciones{
    background-color: rgb(162, 186, 231);
}

#btn-igual{
    background-color: rgb(137, 192, 81);
    
}

#btn-limpiar{
    background-color: crimson;
}


