
h1{
    font-size: 40px;
    text-align: center;
    color: blue;
}

.fila{
    align-self: flex-start;
    background-position-x: center;
    background-position-y: center;  
}

#resultado{
    border-style:solid;
    width: auto;
    height: auto;
    height: 40px;
   
    
}

button{
    height:100px ;
    width:100px ;
    margin: auto;
    

    
}
div{
    width:fit-content;
    margin: auto;
    
   
}



body{
    padding-inline-start: 10%;
    padding-block-end: 10px;
    perspective: 600em;
    width: 1000px;
    height: 1000px;
}